<div id="reportesDiv" class="mostrarAuxiliar reportesDivAuxiliar contenedor-main-left" style="display: none;">
	<h1 class="text-center">Reportes</h1>
	<div class="contenedor-main-left">

		<input type="button" id="reportes" value="Horas acompañantes">
		<input type="button" id="reportes" value="Estado acompañante">
		<input type="button" id="reportes" value="Servicios activos turnos pendientes">
		<input type="button" id="reportes" value="Servicios activos turnos completos">
		<input type="button" id="reportes" value="Servicios activos">
		<input type="button" id="reportes" value="Servicios finalizados">
		<input type="button" id="reportes" value="Armado ruta">
		<input type="button" id="reportes" value="Supervición rutas">
		<input type="button" id="reportes" value="Distribución">
	</div>
</div>